include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.banner-wrap
		.main-cont
			.banner
				.banner-info
					.banner-title Подвесные потолки и гипсовиниловые панели
					.banner-text Офис и склад в 1 месте. Подберем все, что нужно уже сегодня.
					.btn--md.btn--mark.banner-get Подробнее
				.banner-img(style="background-image:url('img/master-1.png')")
	.content
		.main-cont
			h1 Hi man
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto cum dolores ex fuga iure minima modi nisi! Modi, ullam!
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto cum dolores ex fuga iure minima modi nisi! Modi, ullam!
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto cum dolores ex fuga iure minima modi nisi! Modi, ullam!
	+footer()
include ./block_html/_script.pug
